parameters:
  level: 8
  paths:
    - src
    - test/src
  ignoreErrors:
    - '#Parameter \#1 \$message of method Laminas\\Log\\LoggerInterface::.*\(\) expects string, .* given.#'
    - '#Dynamic call to static method PHPUnit\\Framework\\.*#'

includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
